.popup__close-button {
  width: 32px;
  height: 32px;
  background-image: url("../../../images/Close\ Icon.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #00000000;
  border: none;
  position: relative;
  top: -32px;
  right: -430px;
  cursor: pointer;
  align-self: last baseline;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 660px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: -262px;
    top: -36px;
  }
}
