.element__like {
  width: 22px;
  height: 19px;
  background-size: cover;
  background-image: url("../../../images/like.svg");
  cursor: pointer;
  align-self: center;
  /*margin-right: 30px;*/
  border: none;
}

.element__like:hover {
  opacity: 0.5;
}

