.pop-up__legend {
  width: 358px;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.21;
  margin: 34px auto 48px;
}


@media screen and (max-width: 660px) {
  .pop-up__legend {
    width: 238px;
    font-weight: 900;
    font-size: 1.13rem;
    line-height: 1.22;
    margin: 25px auto 75px;
  }
}
